<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<meta name="description"
	content="Experience LIFE's visual record of the 20th century by exploring the most iconic photographs from one of the most famous private photo collections in the world.">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title"
	content="The Most Iconic Photographs of All Time - LIFE">
<meta property="og:description"
	content="Experience LIFE's visual record of the 20th century by exploring the most iconic photographs from one of the most famous private photo collections in the world.">
<meta property="og:url" content="https://www.life.com/">
<meta property="og:site_name" content="LIFE">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description"
	content="Experience LIFE's visual record of the 20th century by exploring the most iconic photographs from one of the most famous private photo collections in the world.">
<meta name="twitter:title"
	content="The Most Iconic Photographs of All Time - LIFE">
<!--headerFragment 선언-->
<th:block th:fragment="headerFragment">
	<!-- #site-navigation -->
	<nav id="site-navigation"
		class="has-branding main-navigation grid-container grid-parent sub-menu-left"
		itemtype="https://schema.org/SiteNavigationElement" itemscope="">
		<div class="inside-navigation">
			<div class="navigation-branding">
				<div class="site-logo">
					<a href="http://localhost:8080/" title="LIFE-MAGAGINE" rel="home">
						<img class="header-image lazyloaded" alt="LIFE"
						src="/img/logo/SITE_LOGO.png"
						title="LIFE"
						width="358" height="200"
						data-lazy-src="/img/logo/SITE_LOGO.png"
						data-was-processed="true">
						<noscript>
							<img class="header-image" alt="LIFE-MAGAGINE"
								src="/img/logo/SITE_LOGO.png"
								title="LIFE-MAGAGINE"
								width="358" height="200" />
						</noscript>
					</a>
				</div>
			</div>
			<button class="menu-toggle" aria-controls="primary-menu" style="margin: 20px;" aria-expanded="false"  data-toggle="modal" data-target="#menuModal"> 
				<span class="mobile-menu">MENU</span>
			</button>
			<div id="primary-menu" class="main-nav">
				<ul id="menu-dummy-do-not-use" class=" menu sf-menu">
					<li class="slideout-toggle menu-item-align-right"><a href="#"></a></li>
				</ul>
			</div>
			<div class="nav-top-right-container blah">
				<a th:if="${session.life == null}"
					class="nav-btn nav-latest-issue mt-editHTML-2f5e87bb"
				    href="/user/login">로그인</a>
				<a th:unless="${session.life == null}"
					class="nav-btn nav-latest-issue mt-editHTML-2f5e87bb"
					href="/user/myinfo"><span th:text="${session.life.user.USER_ID}"/>&nbsp;님</a>
				<a th:unless="${session.life == null}"
					class="nav-btn nav-latest-issue mt-editHTML-2f5e87bb"
					href="/user/logout"><span th:text="로그아웃"/></a>
			</div>
			<div class="nav-top-right-container blah">
				<a class="nav-btn nav-latest-issue" target="_blank"
					href="https://www.magazine.store/life-magazine/"
					style="display: none;"><img
					src="/wp-content/themes/generatepress-child/static/mailbox.svg"
					data-lazy-src="/wp-content/themes/generatepress-child/static/mailbox.svg"
					class="lazyloaded" data-was-processed="true">
					<noscript>
						<img
							src="/wp-content/themes/generatepress-child/static/mailbox.svg">
					</noscript>Latest Issue</a><a
					class="nav-btn nav-latest-issue mt-editHTML-2f5e87bb"
					target="_blank" href=""></a>
			</div>
		</div>
		<!-- .inside-navigation -->
	</nav>
	<!-- #site-navigation -->
<!-- Modal -->
	<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<div class="inside-navigation grid-container grid-parent">
				<div class="main-nav">
				
					<ul id="menu-main" class=" slideout-menu">
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/animals/info" >Animals</a></li>
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/arts-entertainment/info" >Art &amp;Entertainment</a></li>
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/destinations/info" >Destinations</a></li>
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/history/info" >History</a></li>
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/lifestyle/info" >LifeStyle</a></li>
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/nature/info" >Nature</a></li>
						<li><i class="far fa-bookmark fa-2x" aria-hidden="true"></i><a class="menu" href="/people/info" >People</a></li>
					</ul>
				</div>
		  	</div>
	      </div>
	      <div class="modal-footer">
	      	<div>
	      		<a class="instagram" href="#" target="_blank"><i class="fab fa-instagram-square fa-3x"  style="float: left; margin : 20px;"></i></a>
	      		<a class="youtube" href="#" target="_blank"><i class="fab fa-youtube fa-3x"  style="float: left; margin : 20px;"></i></a>
	      	</div>
	      	
	      </div>
	    </div>
	  </div>
	</div>
<!-- Modal -->
</th:block>
</html>