<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/layout/default_layout}">
<head>
<!--  고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/common/magagine-style.css}">
</th:block>
<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<script type="text/javascript">
function movList(){
	window.location.href='/animals/info';
}

function reset(){
	debugger;
	if(confirm("해당 게시글의 내용을 초기화 하시겠습니까?")){
		return;
	}
	$("#summernote").summernote('code','');
}

function register(){
	if($("#TITLE").val()==""){
		alert("제목을 입력해주세요.");
		return;
	}else if($("#summernote").summernote('code') == ""){
		alert("내용을 입력해주세요.");
		return;
	}
	if(!confirm("게시물을 등록하시겠습니까?")){
		return;
	}
	debugger;
	
	$('textarea[name="CONTENT"]').html($('#summernote').summernote('code'));
	$("#fileInsert").val("Y");
	
	var form = new FormData(document.getElementById('animalsForm'));
	var form_data = new FormData();
	var temp = $("#input_file")[0].files[0];
 	form_data.append('file', temp);
	
	for(var pair of form.entries()) {
		 form_data.append(pair[0], pair[1]);
		 console.log(pair[0]+ ', '+ pair[1]);
	}
	  
	$.ajax({
	 	data: form_data,
	   	type: "POST",
	   	url: '/api/register/save',
	   	cache: false,
	   	contentType: false,
	   	enctype: 'multipart/form-data',
	   	processData: false,
		success : function(result) {
			debugger;
			if (result.status != true) {
				if (result.message == "") {
					alert("저장시도 중 오류가 발생했습니다.");
					return;
				} else {
					alert(result.message);
					return;
				}
			} else {
				debugger;
				if(result == 0){
					alert("저장된건이 없습니다.");
					return;
				}
				alert("등록되었습니다.");
				window.location.href='/animals/info';
			}
		},
		error : function(jqXHR, textStatus, errorThrown) {
			//세션이나 쿠키가 없을 때는 LoginCheckAspect 에서 401 에러 발생
			if (jqXHR.status == '401') {
				location.href = "/common/sessionError.do";
			} else {
				alert("ERR=" + 'HTTP status code: '
						+ jqXHR.status + '\n'
						+ 'textStatus: ' + textStatus
						+ '\n' + 'errorThrown: '
						+ errorThrown);
				console
						.log('HTTP message body (jqXHR.responseText): '
								+ '\n' + jqXHR.responseText);
			}
		}
	});
}

function setFile(){
	 var fileTarget = $('.filebox .upload-hidden');

	    fileTarget.on('change', function(){
	        if(window.FileReader){
	            // 파일명 추출
	            var filename = $(this)[0].files[0].name;
	        } 

	        else {
	            // Old IE 파일명 추출
	            var filename = $(this).val().split('/').pop().split('\\').pop();
	        };
	        
	        if (!$(this)[0].files[0].type.match(/image\//)){
	        	alert("이미지 파일만 첨부 가능합니다.");
	        	$(this).siblings('.upload-name').val('');
				return;
            } 

	        $(this).siblings('.upload-name').val(filename);
	    });

	    //preview image 
	    var imgTarget = $('.preview-image .upload-hidden');

	    imgTarget.on('change', function(){
	        var parent = $(this).parent();
	        parent.children('.upload-display').remove();
			 debugger;
	        if(window.FileReader){
	            //image 파일만
	            if (!$(this)[0].files[0].type.match(/image\//)) return;
	            var reader = new FileReader();
	            reader.onload = function(e){
	                var src = e.target.result;
	                parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="'+src+'" class="upload-thumb"></div></div>');
	            }
	            reader.readAsDataURL($(this)[0].files[0]);
	        }

	        else {
	            $(this)[0].select();
	            $(this)[0].blur();
	            var imgSrc = document.selection.createRange().text;
	            parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');

	            var img = $(this).siblings('.upload-display').find('img');
	            img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";        
	        }
	    });
}
function sendFile(file, el) {
	var form_data = new FormData();
 	form_data.append('file', file);
 	form_data.append('loginUserId', $("#loginUserId").val());
 	$.ajax({
   	data: form_data,
   	type: "POST",
   	url: '/api/register/uploadImageFile',
   	cache: false,
   	contentType: false,
   	enctype: 'multipart/form-data',
   	processData: false,
   	success: function(response) {
   		debugger;
   		if(response.responseCode='success'){
   			var fileIdArray;
   			fileIdArray = $("#fileIdArray").val();
   			fileIdArray+=","+response.attach_id;
   			$("#fileIdArray").val(fileIdArray);
   			$(el).summernote('editor.insertImage', response.url);
   		 	
   		}else{
   			alert("파일전송에 실패했습니다.");
   		}
   	},error : function(jqXHR, textStatus, errorThrown) {
			//세션이나 쿠키가 없을 때는 LoginCheckAspect 에서 401 에러 발생
			if (jqXHR.status == '401') {
				location.href = "/common/sessionError.do";
			} else {
				alert("ERR=" + 'HTTP status code: '
						+ jqXHR.status + '\n'
						+ 'textStatus: ' + textStatus
						+ '\n' + 'errorThrown: '
						+ errorThrown);
			}
		}
 	});
}

function setSummernote(){
	  $('#summernote').summernote({
		  	 width:1200,
          height: 500,                 // set editor height
          minHeight: null,             // set minimum height of editor
          maxHeight: null,             // set maximum height of editor
          fontNames : [ '맑은고딕', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', ],
			 fontNamesIgnoreCheck : [ '맑은고딕' ],
			 focus: true,
			
			 callbacks: {
				onImageUpload: function(files, editor, welEditable) {
		            for (var i = files.length - 1; i >= 0; i--) {
		            	sendFile(files[i], this);
		            }
		        }
			}
  });
}

$(document).ready(function() {
	setSummernote();
	setFile();
});

</script>
</head>
<th:block layout:fragment="content">
	<div id="page" class="page">
		<div id="content" class="site-content">
			<div id="primary"
				class="content-area grid-parent mobile-grid-100 grid-100 tablet-grid-100">
				<main id="main" class="site-main">
					<div id="category-container">
						<div class="category-header">
							<img class="featured-image-large lazyloaded"
								src="https://static.life.com/wp-content/uploads/2020/07/22202946/sitemapbg.png"
								data-lazy-src="https://static.life.com/wp-content/uploads/2020/07/22202946/sitemapbg.png"
								data-was-processed="true">
							<noscript>
								<img class="featured-image-large"
									src="https://static.life.com/wp-content/uploads/2020/07/22202946/sitemapbg.png">
							</noscript>
							<div class="category-info">
								<h1 class="entry-title" id="titleTxt"
									style="padding-top: 350px;">ANIMALS</h1>
							</div>
						</div>
						<article>
							<form id="animalsForm" name="animalsForm" , method="post" onsubmit="return false;">
								<input type="hidden" id="postType" name="postType" value="animals" />
								<input type="hidden" id="fileInsert" name="fileInsert" value="N" />
								<input type="hidden" id="fileIdArray" name="fileIdArray" value="" />
								<input type="hidden" id="loginUserId" name="loginUserId" th:if="${session.life == null}"  th:value="noUser">
								<input type="hidden" id="loginUserId" name="loginUserId" th:unless="${session.life == null}"  th:value="${session.life.user.USER_ID}"> 
								<div class="entry-content">
									<div>
										<table>
											<tr>
												<th style="width: 120px;">제목</th>
												<td><input type="text" class="form-control" style="margin-bottom: 25px;" id="TITLE" name="TITLE"/></td>
											</tr>
											<tr>
												<th style="width: 120px;">대표사진</th>
												<td>
													 <div class="filebox bs3-primary preview-image">
											              <input class="upload-name" value="대표 이미지 선택" disabled="disabled" style="width: 200px;">
											              <label  style="background-color: black; border: 1px solid black;" for="input_file"><i class="far fa-file-image fa-2x"></i></label> 
											              <input type="file" id="input_file" class="upload-hidden"> 
											         </div>
												</td>
											</tr>
											<tr>
												<th style="width: 120px;">내용</th>
												<td>
													<textarea name="CONTENT" id="summernote" value="" ></textarea>
												</td>
											</tr>
										</table>
										
									</div>
									<div>
										<button type="button" class="checkRedButton" onclick="reset();">초기화</button>
										<button type="button" class="checkButton" onclick="register();">등록</button>
										<button type="button" class="checkButton" onclick="movList();">목록</button>
									</div>
								</div>
							</form>
						</article>
					</div>
					<div th:if="${session.life == null}"
						data-bg="url(/wp-content/themes/generatepress-child/static/newsletter.jpg)"
						class="newsletter-container rocket-lazyload"
						style="background-image: url(&quot;/wp-content/themes/generatepress-child/static/newsletter.jpg&quot;);"
						data-was-processed="true">
						<span th:text="${session.userId}"></span>
						<h2>Let's make a magazine together</h2>
						<p>서로의 이야기를 공유하여 새로운 잡지를 만들어가봐요</p>
						<section>
							<button>
								<a href="/user/login" style="color: white; font-weight: bold;">Join
									With Us</a>
							</button>
						</section>
					</div>
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
</th:block>
</html>