<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.site.web.post.RegisterMapper">
    
    <insert id="insertEidtSave" parameterType="File" useGeneratedKeys="true" keyProperty="ATTACH_ID"  >
    insert  into 		/* post.RegisterMapper.insertEidtSave */
    	lifesite.magagine_attach
    	(
    		ATTACH_TYPE,
    		ATTACH_DIR,
    		URL_PATH,
    		FILE_ORIGIN_NM,
    		FILE_STORE_NM,
    		FILE_SIZE,
    		REFFER_FLG,
    		TITLE_YN,
    		DEL_YN,
    		REG_USER_ID,
    		REG_DT,
    		MOD_USER_ID,
    		MOD_DT
    	) 
		values(
				#{ATTACH_TYPE},
				#{ATTACH_DIR},
				#{URL_PATH},
				#{FILE_ORIGIN_NM},
				#{FILE_STORE_NM},
				#{FILE_SIZE},
				'N',
				'N',
				'N',
				#{REG_USER_ID},
				SYSDATE(),
				#{REG_USER_ID},
				SYSDATE()
				)
    </insert>
    
    
     <insert id="insertTitleSave" parameterType="File" useGeneratedKeys="true" keyProperty="ATTACH_ID"  >
    insert  into 		/* post.RegisterMapper.insertTitleSave */
    	lifesite.magagine_attach
    	(
    		POST_ID,
    		ATTACH_TYPE,
    		ATTACH_DIR,
    		URL_PATH,
    		FILE_ORIGIN_NM,
    		FILE_STORE_NM,
    		FILE_SIZE,
    		REFFER_FLG,
    		DEL_YN,
    		TITLE_YN,
    		REG_USER_ID,
    		REG_DT,
    		MOD_USER_ID,
    		MOD_DT
    	) 
		values(
				#{POST_ID},
				#{ATTACH_TYPE},
				#{ATTACH_DIR},
				#{URL_PATH},
				#{FILE_ORIGIN_NM},
				#{FILE_STORE_NM},
				#{FILE_SIZE},
				'Y',
				'N',
				'Y',
				#{REG_USER_ID},
				SYSDATE(),
				#{REG_USER_ID},
				SYSDATE()
				)
    </insert>
    
    
    <select  id="loadById" parameterType="File" resultType="File">
    	SELECT *    /* post.RegisterMapper.loadById */
    	FROM lifesite.magagine_attach
    	WHERE ATTACH_ID = #{fileId}
    </select>
    
    
    <insert id="insertAnimals" parameterType="map" useGeneratedKeys="true" keyProperty="POST_ID"  >
       insert  into 		/* post.RegisterMapper.insertAnimals */
    	lifesite.animals
    	(
    		TITLE,
    		CONTENT,
    		DEL_FLG,
    		REG_USER_ID,
    		REG_DT,
    		MOD_USER_ID,
    		MOD_DT
    	) 
		values(
				#{TITLE},
				#{CONTENT},
				'N',
				#{loginUserId},
				SYSDATE(),
				#{loginUserId},
				SYSDATE()
				)
    </insert>
    
    <update id="updateEditorAttach" parameterType="map">
    	UPDATE		/* post.RegisterMapper.updateEditorAttach */
    		lifesite.magagine_attach
    	SET 
    		REFFER_FLG = 'Y' ,
			POST_ID = #{POST_ID}    	
    	WHERE ATTACH_ID = #{attach_id}
    </update>
</mapper>