<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{/layout/default_layout}">
<head>
<title>로그인</title>
<th:block th:replace="fragment/config :: configFragment"></th:block>
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/common/login.css}">
</th:block>
<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<script type="text/javascript">
	function fnForegot(type) {
		var url;
		if (type == 'id') {
			url = "/user/id";
	
		} else if (type = 'pwd') {
			url = "/user/pswd";
		}
		
		window.location.href= url;
		
	
	}
	
	function moveJoin(){
		window.location.href="/user/join";
	}

	function fnLogin() {
		if ($("#USER_ID").val() == "") {
			alert("아이디를 입력해주세요");
			return;
		} else if ($("#PASSWD").val() == "") {
			alert("비밀번호를 입력해주세요");
			return;
		} else {
			$.ajax({
						url : "/user/login",
						type : "POST",
						async : false,
						data : $("#loginForm").serialize(),
						success : function(result) {
							if (result.status != true) {
								if (result.message == "") {
									alert("아이디랑 비밀번호를 확인해주세요.");
									return;
								} else {
									alert(result.message);
									return;
								}

							} else {
								//페이지 이동
								window.location.href = result.data;
							}
						},
						error : function(jqXHR, textStatus, errorThrown) {
							//세션이나 쿠키가 없을 때는 LoginCheckAspect 에서 401 에러 발생
							if (jqXHR.status == '401') {
								location.href = "/common/sessionError.do";
							} else {
								alert("ERR=" + 'HTTP status code: '
										+ jqXHR.status + '\n'
										+ 'textStatus: ' + textStatus
										+ '\n' + 'errorThrown: '
										+ errorThrown);
								console
										.log('HTTP message body (jqXHR.responseText): '
												+ '\n' + jqXHR.responseText);
							}
						}
					});
		}
	}
</script>
</head>
	<th:block layout:fragment="content">
		<div id="page" class="page">
			<div id="content" class="site-content">
				<div id="primary"
					class="content-area grid-parent mobile-grid-100 grid-100 tablet-grid-100">
					<main id="main" class="site-main">
						<div id="container">
							<div class="header">
								<img class="featured-image lazyloaded"
									src="/img/picture/common/login-header.jpg"
									data-lazy-src="/img/picture/common/login-header.jpg"
									data-was-processed="true">
							</div>
						</div>
						<div>
							<form id="loginForm" name="loginForm" , method="post"
								onsubmit="return false;">
								<div class="form-container">
									<label for="uname"><b>아이디</b></label> <input type="text"
										placeholder="아이디를 입력해주세요." name="USER_ID" id="USER_ID" style="width: 100%;"
										required> <label for="psw"><b>비밀번호</b></label> <input
										type="password" placeholder="비밀번호를 입력해주세요." name="PASSWD" style="width: 100%;"
										id="PASSWD" required>

									<button onclick="fnLogin();">로그인</button>
								</div>

								<div class="container"
									style="background-color: #f1f1f1; display: inline-block; width: 100%;">
									<div style="float: left; margin-left: 20px;">
										<button type="button" style="float: left; margin-right: 10px;"
											class="checkRedButton" onclick="fnForegot('id');">아이디 찾기</button>
										<button type="button" style="float: left;" class="checkRedButton"
											onclick="fnForegot('pwd');">비밀번호 찾기</button>
									</div>
									<div style="float: right; margin-right: 10px;">
										<button type="button" class="checkButton" onclick="moveJoin();">회원가입</button>
									</div>
								</div>
							</form>
						</div>
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #content -->
		</div>
	</th:block>
</html>