<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.site.web.user.AdminMapper">
    <!-- 기본 사용자 검색 (아이디 키워드 검색) -->
    <select id="selectUserList" parameterType="hashMap" resultType="hashMap">
         SELECT DISTINCT     /* user.AdminMapper.selectUserList */
         				USER_ID ,
         				USER_GENDER,
         				USER_GRADE,
         				USER_GRADE_NM, 
         				PHONE,
         				EMAIL, 
         				ADDRESS, 
         				INPUT_DT, 
         				MOD_DT
			FROM lifesite.member
			WHERE USE_FLG ='Y'
			AND DEL_FLG ='N' 
			AND (
            		USER_ID LIKE CONCAT('%',#{keyword},'%')  OR
            		PHONE LIKE CONCAT('%',#{keyword},'%')  OR
            		EMAIL LIKE CONCAT('%',#{keyword},'%') OR
            		ADDRESS LIKE CONCAT('%',#{keyword},'%') 
            	)
        ORDER BY USER_ID, INPUT_DT
    </select>
    
    
     <!-- 기본 사용자 접속 로그 검색 (아이디 키워드 검색) -->
    <select id="selectUserAccessList" parameterType="hashMap" resultType="hashMap">
         SELECT DISTINCT     /* user.AdminMapper.selectUserAccessList */
				USER_ID,
				USER_GRADE_CD,
				USER_GRADE_NM,
				ACC_URL,
				ACC_TYPE,
				AGENT,
				SUCCESS_FL,
				INPUT_DT
		FROM lifesite.sys_log_access_tb
		WHERE 1=1
		AND (
            		USER_ID LIKE CONCAT('%',#{keyword},'%')  OR
            		USER_GRADE_CD LIKE CONCAT('%',#{keyword},'%')  OR
            		USER_GRADE_NM LIKE CONCAT('%',#{keyword},'%') OR
            		ACC_URL LIKE CONCAT('%',#{keyword},'%') 
            	)
        ORDER BY INPUT_DT DESC, USER_ID
    </select>
</mapper>