<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.site.web.user.UserMapper">
    <!-- 기본 사용자 검색 (아이디/이름 키워드 검색) -->
    <select id="selectUserList" parameterType="hashMap" resultType="hashMap">
         SELECT DISTINCT     /* user.UserMapper.selectUserList */
            USER_ID
            , USER_NM
            , DEPT_NM
            , GRADE_NM
            , EMAIL
        FROM USER_VW
        WHERE DEL_FL = 'N'
            AND COMP_CD = #{COMP_CD} 
            <if test='KEYWORD != null and KEYWORD != ""'>
            AND (LOWER(USER_ID) || LOWER(USER_NM)) LIKE '%' || LOWER(#{KEYWORD}) || '%'
            </if>
        ORDER BY DEPT_NM, USER_NM
    </select>
    
    <update id="updateUserInfo" parameterType="hashMap">
        UPDATE xorjf22.member      /* LoginMapper.updateUserInfo */
        SET 
        	USER_GENDER = #{gender},
        	FAVORITE_CD =  #{favorite},
        	FAVORITE_NM = (SELECT CODE_NM FROM xorjf22.tb_code WHERE CODE_CD = #{favorite ,jdbcType=VARCHAR} ) ,
            PHONE = CONCAT_WS('-', #{mobile1} ,#{mobile2} ,#{mobile3}),
            EMAIL =  #{email},
            ADDRESS = CONCAT_WS('_',#{postcode1},#{addr1},#{addr2}) ,
            MOD_DT = SYSDATE()
        WHERE USER_ID = #{userId}
    </update>
</mapper>